<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%= material.nome %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1><%= material.nome %></h1>
  <p><%= material.descricao %></p>
  <a href="/">Voltar</a>
</body>
</html>
